

.events-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding: 40px;
  list-style: none;
  margin: 0;
}



.event-card {
    // position: relative;
  // background-image: url(../../img/backk.png);
  border-radius: 20px;
    background-repeat: no-repeat;
background-position: 100% 50%;
  transition: transform 0.35s ease, background-position 0.35s ease;

}

.event-card::after {
    // background-image: url(../../img/backk.png);
  content: "";
  position: absolute;
  top: 50px;
  z-index: 10;
  border: 1px solid rgba(220, 86, 197, .3);
  box-sizing: border-box;
  border-radius: 50px 0;
  pointer-events: none;
}

// .event-card:hover {
//   transform: translateY(-8px);
//   background-position: 100% 40%;
// }

// .event__back {
//     position: absolute;
//     top: 0px;
// }

.event-img {
width: 195.0px;
margin: auto;
height: 227.0px;
border-radius: 50px 0;
background: url(<path-to-image>) lightgray 50% / cover no-repeat;

  object-fit: cover;
}


.event-title {
  color: #fff;
  font-size: 16px;
  margin: 10px;
}

.event-date {
  color: #ff3d9a;
  margin: 0 10px 5px;
}

.event-place {
  margin: 0 10px 15px;
  color: #aaa;
}

.pagination{
  display:flex;
  justify-content:center;
  gap:10px;
  margin-bottom:60px;
  }
  
  .page-btn{
  background:transparent;
  border:none;
  color:#fff;
  font-size:16px;
  cursor:pointer;
  padding:6px 10px;
  transition:.3s;
  }
  
  .page-btn:hover{
  color:#ff3d9a;
  }
  
  .page-btn.active{
  border:1px solid #ff3d9a;
  border-radius:10px 0;
  color:#ff3d9a;
  }
  
  .dots{
  color:#fff;
  padding:6px;
  }

// .page-btn.active {
//   border-radius: 10px 0;
//   border: 1px solid rgba(255, 61, 154, 0.4);
//   color: rgba(255, 61, 154, 0.4);
// }
// .page-btn.active:hover
//  {
//   border: 1px solid rgba(255, 61, 154, 0.4);
// }




