.footer {
	padding: 40px 0px;
}

.footer {
	&__text {
		font-size: 16px;
		text-align: center;
		color: #939393;

        @media screen and (min-width: mobile) {
				display: flex;
			align-content: center;
			flex-direction: column;
			font-size: 14px;
		}
	}

	&__link {
		cursor: pointer;
	}

	&__link:hover,
	&__link:focus {
		color: #DC56C5;
	}

	&__heart {
		color: crimson;
        font-size: 20px;
	}

}


