.footer {
	padding: 40px 0px;
}

.footer {
	&__text {
		font-size: 16px;
		text-align: center;
		color: #939393;

        @media screen and (min-width: mobile) {
				display: flex;
			align-content: center;
			flex-direction: column;
			font-size: 14px;
		}
	}

	&__link {
		cursor: pointer;
	}

	&__link:hover,
	&__link:focus {
		color: #DC56C5;
	}

	&__heart {
		color: crimson;
        font-size: 20px;
	}

}



// Модалка 



.scroll-up {
    position: fixed;
    right: 10px;
    bottom: 20px;
    width: 50px;
    height: 50px;
    color: #ff0dbf;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 1 4px #fff;
    transition: all .3s cubic-bezier(.25,.8,.25,1);
    z-index: 100
}

@media (min-width: 768px) {
    .scroll-up {
        right:30px;
        bottom: 30px
    }
}

.scroll-up:before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    content: ""
}

.scroll-up:hover {
    color: #ff0dbf
}

.scroll-up--active {
    visibility: visible;
    opacity: 1
}

.scroll-up__svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: #ff0dbf;
    stroke-width: 4px;
    transition: .2s
}

.scroll-up:hover {
    transform: scale(1.1);
    transition: all .3s cubic-bezier(.25,.8,.25,1)
}

.scroll-up__svg-arrow {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 17%;
    left: 17%;
    fill: #ff0dbf
}

