.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.backdrop-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 1034px;
  max-height: 750px;
  overflow: auto;

  background: #fff2fd;
  border-radius: 350px 0 350px 0;

  padding: 60px;

  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 22px;
  border: none;
  background: none;
  color: #4c00ff;
  cursor: pointer;
}

.modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 80px 24px 100px;
    display: flex
}

.modal__preview {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  gap: 40px;
}

.content__image {
  width: 420px;
  height: 640px;
  object-fit: cover;
  border-radius: 50px 0;
}

.content__list {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__title {
  color: #dc56c5;
  font-size: 24px;
  font-weight: 600;
}

.modal__text {
  font-size: 18px;
  color: #111;
}

.price__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal__btn {
  display: inline-block;
  margin-top: 10px;
  padding: 10px 25px;

  background: #4c00ff;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;

  transition: 0.3s;
}

.modal__btn:hover {
  transform: scale(1.05);
}

.btn-info {
  border: 1px solid #4c00ff;
  padding: 10px 20px;
  background: transparent;
  color: #4c00ff;
  border-radius: 6px;
}
