
.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(4px);

  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 110;
  overflow-y: auto;
  padding: 40px 0;
}

.backdrop-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
width: 1034px;
min-height: 500px; 
  height: auto;

  background: #fff2fd;
  border-radius: 300px 0;
  padding: 62px 30px;
  position: relative;
}

.modal-close-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 22px;
  border: none;
  background: none;
  color: #4c00ff;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.modal-close-btn:hover {
  transform: rotate(90deg);
  color: #dc56c5;
}


.modal__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

}

.price__icon {
  width: 24px;
  height: 24px;
  fill: #dc56c5;
  flex-shrink: 0;
}

.modal__preview {
  width: 130px;
  height: 132px;
  border-radius: 50%;
  object-fit: cover;
}

.content {
  display: flex;
  gap: 40px;
}

.content__image {
  width: 420px;
  height: 640px;
  object-fit: cover;
  // border-radius: 50px 0;
  
}

.content__list {
  width: 420px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.modal__title {
  color: #dc56c5;
  font-size: 24px;
  font-weight: 600;
  display: flex;
  margin-bottom: 7px;
}

.modal__text {
  font-size: 18px;
  color: #111;
  display: flex;
  word-break: break-word;
}

.price__wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal__btn {
  // display: inline-block;
  width: 150px;
  margin-top: 10px;
  // padding: 10px 25px;
  display: flex;
  color: #fff;
  cursor: pointer;
  padding: 9px 19px 11px;
  background: #4c00ff;
  align-items: center;
justify-content: center;
  text-decoration: none;
  border-radius: 6px;
  margin-bottom: 20px;

  transition: 0.3s;
}

.modal__btn:hover {
  transform: scale(1.05);
}

.btn-info {
  border: 1px solid #4c00ff;
  padding: 10px 20px;
  background: transparent;
  color: #4c00ff;
  border-radius: 6px;
  transition: 0.3s;
}

.btn-info:hover {
  transform: scale(1.05);
  background-color: #4c00ff;  
  color: white;
}