

.container {
  max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    // outline: 1px solid red;


    .element-animation {
      opacity: 0;
      transition: opacity 0.5s ease-in-out;
  
    }





  @media screen and (min-width: 480px) {
    width: 480px;
  }


  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
    
  }