address {
    font-style: normal;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

html {
  scroll-behavior: smooth;
}


::-webkit-scrollbar {
  width: 6px;
}


::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.05);
}


::-webkit-scrollbar-thumb {
  background: rgba(255, 61, 154, 0.4);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border-radius: 30px;
  transition: 0.3s;
}


::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 61, 154, 0.7);
}

body {
font-family: "Montserrat", sans-serif;
            background-image: url(../img/bgbody.png);

    background-color: rgb(0, 0, 0);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;


}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body.no-scroll {
  overflow: hidden; 
}