address {
    font-style: normal;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    display: block;
}
h1, h2, h3, p, ul{
    margin: 0;
    padding: 0;
}

body {
font-family: "Montserrat", sans-serif;
            background-image: url(../../img/bgbody.png);

    background-color: rgb(0, 0, 0);
        background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;


}