<div class="backdrop is-hidden" data-modal>
  <div class="modal modal-animation">

    <button class="modal-close-btn" type="button" data-close>
      <svg class="modal-button__icon" width="17" height="17">
        <use href="/event-booster/sprite.18f6dce1.svg#icon-Close"></use>
      </svg>
    </button>

    <div class="modal__wrap">
      <img
        class="modal__preview"
        src=""
        alt="preview-poster"
      >

      <div class="content">
        <img
          class="content__image"
          src="../img/pic.jpg"
          alt="poster"
        >

        <ul class="content__list">
          <li class="content__item">
            <h2 class="modal__title">INFO</h2>
            <p class="modal__text text-wrap">
              Atlas Weekend is the largest music festival
in Ukraine.More than 200 artists will create
a proper music festival atmosphere on 10 stages
            </p>
          </li>

          <li class="content__item">
            <h2 class="modal__title">WHEN</h2>
            <p class="modal__text">2026-02-28</p>
            <p class="modal__text">20:00:00 Ukraine/Kiev</p>
          </li>

          <li class="content__item">
            <h2 class="modal__title">WHERE</h2>
            <p class="modal__text">Jarosław, Poland</p>
            <p class="modal__text">Reto Music Club</p>
          </li>

          <li class="content__item">
            <h2 class="modal__title">WHO</h2>
            <p class="modal__text">Łydka Grubasa - "Bekalog Tour"</p>
          </li>

          <li class="content__item">
            <img src="/src/img/ticket1.png" alt="" srcset="">
            <h2 class="modal__title">PRICES</h2>

            <ul class="price__list">
              <li class="price__item">
                <div class="price__wrap">
                  <p class="modal__text">
                    Click on "BUY TICKETS" for more information
                  </p>
                </div>

                <a
                  class="modal__btn modal-animation"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  BUY TICKETS
                </a>


                <a
                  class="modal__btn modal-animation"
                  href="#"
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  BUY TICKETS
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>

      <a
        class="btn-info modal-animation"
        href="#"
        target="_blank"
        rel="noopener noreferrer"
      >
        MORE FROM THIS AUTHOR
      </a>

    </div>
  </div>
</div>